Checks: >
  clang-diagnostic-*,                                                                                                                                                     
  clang-analyzer-*,                                                                                                                                                       
  cppcoreguidelines-*,                                                                                                                                                    
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
